body {
    margin: 0;
    font-family: 'Gothic A1', sans-serif;
    font-size: 16px;
    line-height: 30px;
    color: rgba(107, 107, 107, 1);
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.container {
    position: absolute;
    height: 100px;
    left: 4.65%;
    right: 15.35%;

}


/* HEADER--------------- */

.header {
    padding-top: 30px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



/* NAV-------- */

.nav {
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 30px;
    text-decoration: none;
    color: #fff;
}

/* INTRO------------- */

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: url("../images/header/background_header.png"), center, no-repeat;
    background-size: cover;
}

.intro_head {
    font-weight: 400;
    font-size: 80px;
    line-height: 80px;
}

.intro_cont {
    width: 677px;
    position: absolute;
    height: 298px;
    left: 10%;
    right: 60.07%;
    color: rgba(255, 255, 255, 1);
}

.intro_text {
    font-size: 30px;
    font-weight: 400;
    line-height: 10px;
}

.intro_image {
    position: absolute;
    height: 680px;
    width: 652px;
    left: 51.67%;
    right: 3.06%;
    top: calc(50% - 680px/2 + 60px);
    border-radius: 0px;
}



/* BTN-------------------------------------------- */
.btn {
    display: inline-block;
    vertical-align: top;
    padding: 25px 35px;
    border: 3px solid #fff;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 10px;
    margin: 25px 0 0 0;

    transition: background .1s linear, color .1s linear;

}

.btn:hover {
    background-color: #fff;
    color: rgba(107, 107, 107, 1)
}


/* SECTION---------- */

.section {
    padding: 80px 0;
    
}

.section--devices {
    padding-bottom: 0;
    background: url(../images/main/background_main.png) center no-repeat;
    background-size: cover;
}

.section__header {
    width: 100%;
    max-width: 950px;
    margin: 0 auto 50px;
    text-align: center;
}

.section__suptitle {
    font-size: 24px;
    color: #333;
}

.section__title {
    font-size: 30px;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
}

.section__text {
    font-size: 15px;
    color: #999;
}

.devices {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    position: relative;
}

.devices__item {
    display: block;
}